.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.u-transition, .main-nav > a, .card__info {
  transition: all .4s ease; }

@media (min-width: 40.063em) {
  .small-only {
    display: none !important; } }

@media (max-width: 40em) {
  .medium-up {
    display: none !important; } }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99; }
  #overlay.js-active {
    display: block; }

.by-line {
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
  background-color: #f4821f;
  display: block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 300; }
  .by-line:hover {
    font-weight: 400; }

body {
  margin: 0;
  padding: 0;
  max-width: 100%; }

a {
  color: currentColor;
  text-decoration: none; }

body {
  font-family: "neusa-next-std", sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  font-size: 20px;
  line-height: 1.5;
  color: #3c3e3d; }

h1, h2, h3 {
  font-family: "neusa-next-std-compact", sans-serif;
  font-weight: 100;
  text-align: center; }

p {
  margin-top: 0; }

p + p {
  margin-top: 1rem; }

li {
  list-style: none; }

@media (max-width: 40em) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px; } }
@media (min-width: 40.063em) {
  .wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; } }

.button {
  border: 1px solid currentColor;
  padding: 15px 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: inline-block; }
  @media (max-width: 40em) {
    .button {
      display: block;
      padding: 15px 20px;
      width: 100%; } }
  .button:hover {
    background-color: #f4821f;
    color: white; }
  .button--negative {
    color: white; }
  .button--clean {
    border: 0;
    padding-left: 0; }
    .button--clean i {
      vertical-align: -4px;
      margin-right: 10px; }
    .button--clean:hover {
      color: #f4821f; }

#back-button {
  text-align: left; }
  #back-button:hover {
    background-color: transparent; }

#particles-container div {
  position: absolute; }
#particles-container canvas {
  overflow: hidden; }

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: right;
  font-size: 1.1rem; }
  .main-nav > a {
    display: inline-block;
    margin: 5px -2px;
    padding: 10px 20px;
    color: white; }
    .main-nav > a:hover {
      background-color: #f4821f;
      color: white; }
    @media (max-width: 40em) {
      .main-nav > a {
        display: block; } }

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #3c3e3d;
  color: white;
  position: relative;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 40.063em) and (max-width: 64em) {
    .hero {
      min-height: 900px; } }
  @media (min-width: 64.063em) {
    .hero {
      min-height: 0; } }
  @media (min-width: 40.063em) {
    .hero br {
      display: none; } }
  .hero h1, .hero h2, .hero h3 {
    margin: 0 0 4vh; }
    .hero h1 span, .hero h2 span, .hero h3 span {
      display: inline-block;
      padding: 0 7px; }
    @media (min-width: 40.063em) {
      .hero h1, .hero h2, .hero h3 {
        margin: 0 0 4vh; } }
  .hero h1 {
    font-size: 4.5rem;
    line-height: 1.25;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4); }
    @media (min-width: 40.063em) {
      .hero h1 {
        font-size: 7rem; } }
  .hero h2 {
    font-size: 2.6rem;
    line-height: 1.35; }
    .hero h2 span {
      background-color: rgba(155, 32, 97, 0.8); }
      @media (min-width: 40.063em) {
        .hero h2 span {
          margin-left: -16px; } }
    @media (min-width: 40.063em) {
      .hero h2 {
        font-size: 4rem;
        letter-spacing: 4px; } }
  .hero h3 {
    font-size: 1.4rem; }
    .hero h3 span {
      background-color: rgba(244, 130, 31, 0.8); }
      @media (min-width: 40.063em) {
        .hero h3 span {
          margin-left: -10px; } }
    @media (min-width: 40.063em) {
      .hero h3 {
        font-size: 3rem; } }
  .hero .arrow {
    color: white;
    position: absolute;
    bottom: 30px; }
    .hero .arrow i {
      animation: pulse 1s infinite;
      font-size: 6rem;
      display: block;
      line-height: .25; }

@keyframes pulse {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 0.2; } }
.main-logo-container {
  text-align: center;
  height: 280px;
  width: 280px;
  background-color: #FFF;
  border-radius: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 52px 0;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2); }
  .main-logo-container .main-logo {
    height: 160px; }

.collapsed-section {
  height: 0;
  position: relative; }
  .collapsed-section--content {
    position: relative;
    bottom: 140px; }
  .collapsed-section__after {
    padding-top: 200px !important; }

.intro {
  background-color: #eee;
  padding: 40px 0; }
  @media (min-width: 40.063em) and (max-width: 64em) {
    .intro {
      padding-left: 20px;
      padding-right: 20px; } }
  .intro h3.invitation-message {
    font-size: 2rem;
    margin-bottom: 50px; }
    @media (min-width: 40.063em) {
      .intro h3.invitation-message {
        font-size: 3.2rem; } }
    .intro h3.invitation-message strong {
      font-weight: 300;
      background-color: rgba(0, 0, 0, 0.1);
      display: inline-block;
      padding: 0 10px;
      margin: 0 -5px; }
  .intro p.invitation-message {
    font-size: 1.4rem;
    margin-bottom: 50px; }
    @media (min-width: 40.063em) {
      .intro p.invitation-message {
        font-size: 2.1rem; } }
    .intro p.invitation-message strong {
      font-weight: 300;
      background-color: rgba(0, 0, 0, 0.1);
      display: inline-block;
      padding: 0 10px;
      margin: 0 -5px; }
  .intro .question h3 {
    font-size: 1.5rem; }
  .intro .question p {
    font-size: 1.8rem; }

.call-to-action {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  transform: scale(1); }
  @media (min-width: 40.063em) {
    .call-to-action {
      padding: 40px; } }
  .call-to-action h3 {
    text-transform: uppercase;
    font-weight: 400 !important;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.6); }
  .call-to-action p {
    font-weight: 300; }
  .call-to-action p:last-child {
    margin-bottom: 0; }
  .call-to-action--red {
    background-color: #9b2061; }
  .call-to-action--purple {
    background-color: #662584; }
  .call-to-action--black {
    background-color: #3c3e3d; }
  .call-to-action--blue {
    background-color: #00AFDE; }
  .call-to-action--orange {
    background-color: #f4821f; }
  .call-to-action--subtle {
    background-color: rgba(0, 0, 0, 0.2); }
  .call-to-action--white {
    background-color: white; }
  .call-to-action--displaced {
    text-align: center;
    position: relative;
    bottom: -160px;
    margin-top: -140px; }
    @media (min-width: 64.063em) {
      .call-to-action--displaced {
        max-width: 1000px;
        margin-left: -40px; } }

.participate {
  padding-top: 150px;
  margin-top: -150px; }

.participate {
  background-color: #3c3e3d;
  color: white;
  padding-bottom: 40px; }
  @media (min-width: 40.063em) and (max-width: 64em) {
    .participate {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 40.063em) {
    .participate {
      padding-bottom: 80px; } }
  .participate h2 {
    margin: 0 0 20px 0;
    color: #f4821f;
    font-size: 4rem;
    text-align: left; }
  .participate ul {
    padding: 0; }
  .participate li {
    border: 1px solid #f4821f;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    border-left-width: 4px; }

.highlight {
  font-size: 1.8rem;
  font-weight: 100; }

.projects {
  background-color: #eee;
  padding: 50px 0; }
  @media (min-width: 40.063em) and (max-width: 64em) {
    .projects {
      padding: 20px; } }
  .projects h2 {
    margin: 0 0 20px 0;
    color: #3c3e3d;
    font-size: 4rem;
    text-align: left; }
  .projects ul {
    padding: 0; }
  .projects li {
    border: 1px solid #f4821f;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    border-left-width: 4px; }

@media (min-width: 40.063em) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; } }

.card {
  background-image: url("../images/35fe981bc2952902d5188679a2dbd592.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }
  @media (max-width: 40em) {
    .card {
      padding-top: 80%; } }
  @media (min-width: 40.063em) {
    .card {
      flex: 1;
      min-width: 342px;
      min-height: 342px;
      margin-right: 20px;
      overflow: hidden;
      position: relative; } }
  @media (min-width: 64.063em) {
    .card {
      width: 300px;
      height: 300px;
      margin-right: 20px;
      overflow: hidden;
      position: relative; } }
  .card:hover .card__info {
    top: 0; }
  .card__info {
    padding: 20px;
    color: white; }
    @media (min-width: 40.063em) {
      .card__info {
        position: absolute;
        top: 342px;
        padding-bottom: 300px; } }
    @media (min-width: 64.063em) {
      .card__info {
        top: 300px;
        height: 100%; } }
    .card__info h3 {
      text-align: left;
      font-weight: 400;
      font-size: 2rem;
      margin: 0 0 10px 0;
      letter-spacing: 1px; }
  .card--red .card__info {
    background-color: rgba(155, 32, 97, 0.9); }
  .card--orange .card__info {
    background-color: rgba(244, 130, 31, 0.9); }

.page-title {
  background-color: #3c3e3d; }
  .page-title h1 {
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0;
    padding: 15px 0;
    color: white;
    letter-spacing: 1px;
    text-align: left; }

.form-header,
.project-info {
  background-color: #eee; }

.form input,
.form textarea {
  webkit-appearance: none;
  outline: 0;
  transition: all .4s ease; }
.form input[type='text'],
.form input[type='url'],
.form textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 15px 5px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px; }
  @media (max-width: 40em) {
    .form input[type='text'],
    .form input[type='url'],
    .form textarea {
      padding: 10px; } }
  .form input[type='text']:focus,
  .form input[type='url']:focus,
  .form textarea:focus {
    border-color: #662584; }
.form textarea {
  height: 250px;
  resize: none; }
  .form textarea:focus {
    background-color: rgba(0, 0, 0, 0.05); }
.form fieldset {
  border: 0;
  padding: 0; }
.form h2 {
  text-align: left;
  font-weight: 400;
  font-family: "neusa-next-std", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  opacity: .7; }
.form header {
  padding-top: 80px;
  padding-bottom: 0; }
.form .project-info,
.form .team {
  padding: 40px 0; }

.project-links {
  padding: 0;
  width: 100%;
  display: flex; }
  @media (max-width: 40em) {
    .project-links {
      flex-direction: column; } }
  .project-links input {
    flex: 1;
    display: inline-block;
    width: 100%;
    margin-right: 10px; }
    .project-links input:last-child {
      margin-right: 0; }

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.team-member {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px; }
  @media (max-width: 40em) {
    .team-member {
      width: 100%; } }
  @media (min-width: 40.063em) {
    .team-member {
      flex: 1 0 48%; }
      .team-member:nth-child(odd) {
        margin-right: 20px; } }
  .team-member--add {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 10px; }
    @media (min-width: 40.063em) {
      .team-member--add {
        padding: 80px;
        max-width: 49%; } }
    @media (min-width: 40.063em) {
      .team-member--add .material-icons {
        font-size: 10rem;
        display: block;
        opacity: .1;
        line-height: .8;
        margin-top: -20px; } }

.form-controls {
  text-align: right; }
  .form-controls .button {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6); }

.page-header,
.page-section {
  padding-top: 80px;
  padding-bottom: 80px; }
  .page-header p > a,
  .page-section p > a {
    color: currentColor;
    background-color: rgba(0, 0, 0, 0.05); }
    .page-header p > a:hover,
    .page-section p > a:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .page-header h2,
  .page-section h2 {
    text-align: left;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    color: rgba(0, 0, 0, 0.7); }
    .page-header h2:not(:first-child),
    .page-section h2:not(:first-child) {
      margin: 60px 0 0 0; }
  .page-header h3,
  .page-section h3 {
    text-align: left;
    font-size: 1.8rem;
    font-family: "neusa-next-std", sans-serif;
    font-weight: 300;
    margin: 0 0 20px 0; }
  .page-header h4,
  .page-section h4 {
    text-align: left;
    font-size: 1.4rem;
    font-family: "neusa-next-std", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 40px 0 20px 0;
    text-transform: uppercase; }
  .page-header--black, .page-header--red, .page-header--purple, .page-header--orange, .page-header--blue,
  .page-section--black,
  .page-section--red,
  .page-section--purple,
  .page-section--orange,
  .page-section--blue {
    color: rgba(255, 255, 255, 0.7); }
  .page-header--black,
  .page-section--black {
    background-color: #3c3e3d; }
  .page-header--red,
  .page-section--red {
    background-color: #9b2061; }
  .page-header--purple,
  .page-section--purple {
    background-color: #662584; }
  .page-header--orange,
  .page-section--orange {
    background-color: #f4821f; }
  .page-header--blue,
  .page-section--blue {
    background-color: #00AFDE; }
  .page-header--light,
  .page-section--light {
    background-color: rgba(0, 0, 0, 0.03); }

@media (min-width: 40.063em) {
  .panel-container {
    display: flex; } }
.panel-container .panel {
  flex: 1; }
  @media (max-width: 40em) {
    .panel-container .panel {
      padding-top: 30px; } }
  @media (min-width: 40.063em) {
    .panel-container .panel {
      padding-right: 60px; } }

.big-title {
  font-size: 6rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  font-weight: 200; }

.link-list {
  padding: 0; }
  .link-list h3 {
    font-weight: 300; }
  .link-list a {
    text-transform: none;
    text-align: left;
    margin-bottom: 10px;
    display: inline-block; }
    .link-list a:hover {
      color: white; }

.faq {
  padding: 0; }
  .faq__item + .faq__item {
    margin-top: 80px; }
  .faq > h3 {
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 80px; }
  .faq__item ul {
    padding: 0 0 0 25px; }
  .faq__item li {
    list-style: circle;
    margin-bottom: 5px; }

.resources-page .panel-container {
  margin-top: 40px; }
.resources-page .button {
  display: inline-block;
  width: auto;
  color: rgba(255, 255, 255, 0.6); }
  .resources-page .button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white; }
