.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.u-transition, .card__info {
  transition: all .4s ease; }

@media (min-width: 40.063em) {
  .small-only {
    display: none !important; } }

@media (max-width: 40em) {
  .medium-up {
    display: none !important; } }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99; }
  #overlay.js-active {
    display: block; }

.by-line {
  text-align: right;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  padding: 10px; }

body {
  margin: 0;
  padding: 0;
  max-width: 100%; }

a {
  color: currentColor;
  text-decoration: none; }

body {
  font-family: "neusa-next-std", sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  font-size: 20px;
  line-height: 1.5;
  color: #3c3e3d; }

h1, h2, h3 {
  font-family: "neusa-next-std-compact", sans-serif;
  font-weight: 100;
  text-align: center; }

p {
  margin-top: 0; }

p + p {
  margin-top: 1rem; }

li {
  list-style: none; }

@media (max-width: 40em) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px; } }
@media (min-width: 40.063em) {
  .wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; } }

.button {
  border: 1px solid currentColor;
  padding: 15px 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: inline-block; }
  @media (max-width: 40em) {
    .button {
      display: block;
      padding: 15px 20px; } }
  .button--negative {
    color: white; }

#particles-container div {
  position: absolute; }
#particles-container canvas {
  overflow: hidden; }

.hero {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #3c3e3d;
  color: white;
  position: relative;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 40.063em) {
    .hero br {
      display: none; } }
  .hero h1, .hero h2, .hero h3 {
    margin: 0 0 4vh; }
    @media (min-width: 40.063em) {
      .hero h1, .hero h2, .hero h3 {
        margin: 0 0 4vh; } }
  .hero h1 {
    font-size: 4.5rem;
    line-height: 1.25; }
    @media (min-width: 40.063em) {
      .hero h1 {
        font-size: 7rem; } }
  .hero h2 {
    font-size: 2.6rem;
    line-height: 1.35; }
    @media (min-width: 40.063em) {
      .hero h2 {
        font-size: 4rem;
        letter-spacing: 4px; } }
  .hero h3 {
    font-size: 1.4rem; }
    @media (min-width: 40.063em) {
      .hero h3 {
        font-size: 3rem;
        opacity: .4; } }

.intro {
  background-color: #eee;
  padding: 40px 0; }
  @media (min-width: 40.063em) and (max-width: 64em) {
    .intro {
      padding-left: 20px;
      padding-right: 20px; } }
  .intro h3 {
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    color: #662584;
    margin-bottom: 0; }

.call-to-action {
  background-color: #9b2061;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: 400;
  position: relative;
  bottom: -160px;
  margin-top: -140px; }
  @media (min-width: 40.063em) {
    .call-to-action {
      padding: 40px; } }
  @media (min-width: 64.063em) {
    .call-to-action {
      max-width: 1000px;
      margin-left: -40px;
      padding: 40px; } }

.participate {
  padding-top: 150px; }

.participate {
  background-color: #3c3e3d;
  color: white;
  padding-bottom: 40px; }
  @media (min-width: 40.063em) and (max-width: 64em) {
    .participate {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 40.063em) {
    .participate {
      padding-bottom: 80px; } }
  .participate h2 {
    margin: 0 0 20px 0;
    color: #f4821f;
    font-size: 4rem;
    text-align: left; }
  .participate ul {
    padding: 0; }
  .participate li {
    border: 1px solid #f4821f;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    border-left-width: 4px; }

.highlight {
  font-size: 1.8rem;
  font-weight: 100; }

.projects {
  background-color: #eee;
  padding: 50px 0; }
  @media (min-width: 40.063em) and (max-width: 64em) {
    .projects {
      padding: 20px; } }
  .projects h2 {
    margin: 0 0 20px 0;
    color: #3c3e3d;
    font-size: 4rem;
    text-align: left; }
  .projects ul {
    padding: 0; }
  .projects li {
    border: 1px solid #f4821f;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    border-left-width: 4px; }

@media (min-width: 40.063em) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; } }

.card {
  background-image: url("../images/35fe981bc2952902d5188679a2dbd592.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }
  @media (max-width: 40em) {
    .card {
      padding-top: 80%; } }
  @media (min-width: 40.063em) {
    .card {
      flex: 1;
      min-width: 342px;
      min-height: 342px;
      margin-right: 20px;
      overflow: hidden;
      position: relative; } }
  @media (min-width: 64.063em) {
    .card {
      width: 300px;
      height: 300px;
      margin-right: 20px;
      overflow: hidden;
      position: relative; } }
  .card:hover .card__info {
    top: 0; }
  .card__info {
    padding: 20px;
    color: white; }
    @media (min-width: 40.063em) {
      .card__info {
        position: absolute;
        top: 342px;
        padding-bottom: 300px; } }
    @media (min-width: 64.063em) {
      .card__info {
        top: 300px;
        height: 100%; } }
    .card__info h3 {
      text-align: left;
      font-weight: 400;
      font-size: 2rem;
      margin: 0 0 10px 0;
      letter-spacing: 1px; }
  .card--red .card__info {
    background-color: rgba(155, 32, 97, 0.9); }
  .card--orange .card__info {
    background-color: rgba(244, 130, 31, 0.9); }
