.call-to-action {
  box-shadow: 2px 2px 10px rgba(black, .2);
  padding: 20px;
  color: rgba(white, .7);
  margin-bottom: 20px;
  
  @include breakpoint($medium-up) { padding: 40px; }

  transform: scale(1); // z-index hack

  h3 { 
    text-transform: uppercase; 
    font-weight: 400 !important;
    letter-spacing: 2px;
    color: rgba(black, .6);
  }

  p { font-weight: 300; }
  p:last-child { margin-bottom: 0; }
  
  &--red { background-color: $red; }
  &--purple { background-color: $purple; }
  &--black { background-color: $dark-gray; }
  &--blue { background-color: $blue; }
  &--yellow { background-color: $yellow; }
  &--orange { background-color: $orange; }
  &--subtle { background-color: rgba(black, .2); }
  &--white { background-color: white; }
}





// .call-to-action {
  
//   // &__prev-section {
//   //   padding-bottom: 22vh;
//   //   @include breakpoint($medium-up) {
//   //     padding-bottom: 12vh;
//   //   }
//   // }

//   &__panel {
//     // margin-bottom: -18vh;
  
//     @include breakpoint($medium-up) {
//       margin-top: -9vh;
//     }

//     background-color: $red;
//     box-shadow: 2px 2px 10px rgba(black, .2);
//     padding: 20px;
//     color: white;
//     text-align: center;
//     font-weight: 400;

//     @include breakpoint($medium-up) { padding: 40px; }

//     @include breakpoint($large) {
//       max-width: 1000px;
//       margin-left: -40px;
//       padding: 40px;
//     }
//   }
// }

