.header {
  background-color: $blue;
  display: flex;
  box-shadow: 2px 2px 3px rgba(black, .1);
  position: relative;

  .facebook-logo {
    flex: 1;
  }

  .lang-switch {
    flex: 0;
  }
}

.facebook-logo {
  padding: 7px 14px 0;
  img { max-width: 110px; }
}

.site-logo {
  margin: 20px 0 0;
  
  @include breakpoint($medium-up) { 
    max-width: 960px; 
    margin: 80px auto 40px;
    text-align: center;
  }

  img { 
    max-width: 90%;
    @include breakpoint($medium-up) { 
      margin-left: 20%;
    }
  }

  &--fr img { @include breakpoint($medium-up) { margin-left: 10%; }

  }
}

.lang-switch { 
  color: white; 
  text-align: right;
  padding: 10px 15px;
}

.content {
  padding: 0 30px;
}

.centered {
  text-align: center;
}

.dark-bg {
  background-color: $blue;
  padding-top: 15px;
  padding-bottom: 15px;

  @include breakpoint($medium-up) { 
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  > .content {
    @include breakpoint($medium-up) { 
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;

      h1, p, ul {
        margin-left: 72px; // Hacky solution for better alignment
      }
    }
  }

  p, li, h1, h2, h3 { color: white; }
  p, li { font-weight: 100; }
}

.products {
  
}

.product {
  padding-top: 20px;
  padding-bottom: 20px;
  
  @include breakpoint($medium-up) { 
    display: flex; 
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
  }

  &--no-flex {
    @include breakpoint($medium-up) { 
      display: block;
      padding: 70px 35px 70px 107px;
    }
  }
  
  h2 { 
    margin: 0;
    @include breakpoint($medium-up) { 
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }
  p { margin-top: 0; }
  img { 
    max-width: 100%; 
  }

  video {
    margin-top:  20px;
  }
  
  &__content {
    @include breakpoint($medium-up) { 
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__image {

  }
}

.product + .product {
  padding-top: 20px;
}

.button {
  padding: 20px;
  background-color: $blue;
  display: inline-block;
  background-color: rgba($blue, .1);
  border: 1px solid $blue;
  @extend .u-transition;

  &:hover {
    background-color: $blue;
    color: white;

  }

  &--full {
    width: 100%;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: $blue;
  }
}