.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: $dark-gray;
  color: white;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include breakpoint($medium) { min-height: 900px; }
  @include breakpoint($large) { min-height: 0; }

  @include breakpoint($medium-up) {
    br { display: none; }
  }

  h1, h2, h3 {
    margin: 0 0 4vh;
    span {
      display: inline-block;
      padding: 0 7px;
    }
    @include breakpoint($medium-up) { margin: 0 0 4vh; }
  }

  h1 {
    font-size: 4.5rem;
    line-height: 1.25;
    text-shadow: 1px 1px 8px rgba(black, .4);
    @include breakpoint($medium-up) { font-size: 7rem; }  
  }

  h2 {
    font-size: 2.6rem;
    line-height: 1.35;
    
    span { 
      background-color: rgba($red, .8);
      @include breakpoint($medium-up) { margin-left: -16px; } 
    }

    @include breakpoint($medium-up) { 
      font-size: 4rem; 
      letter-spacing: 4px;
    }
  }

  h3 {
    font-size: 1.4rem;
    
    span { 
      background-color: rgba($orange, .8); 
      @include breakpoint($medium-up) { margin-left: -10px; } 
    }

    @include breakpoint($medium-up) { font-size: 3rem; }
  }

  .arrow {
    color: white;
    position: absolute;
    bottom: 30px;

    i { 
      animation: pulse 1s infinite;
      font-size: 6rem; 
      display: block;
      line-height: .25;
    }
  }
}

@keyframes pulse {
  0% { opacity: 0.2; }
  50% { opacity: 0.7; }
  100% { opacity: 0.2; }
}

.main-logo-container {
  text-align: center;
  height: 280px;
  width: 280px;
  background-color: #FFF;
  border-radius: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 52px 0;
  box-shadow: 2px 2px 15px rgba(black, .2);

  .main-logo { height: 160px; }  
}

.collapsed-section {
  height: 0;
  position: relative;

  &--content {
    position: relative;
    bottom: 140px;
  }

  &__after {
    padding-top: 200px !important;
  }
}
