.intro {
  background-color: $light-gray;
  padding: 40px 0;
  
  @include breakpoint($medium) { 
    padding-left: 20px; 
    padding-right: 20px; 
  }

  h3.invitation-message {
    font-size: 2rem;
    margin-bottom: 50px;
    @include breakpoint($medium-up) { font-size: 3.2rem; }

    strong {
      font-weight: 300;
      background-color: rgba(black, .1);
      display: inline-block;
      padding: 0 10px;
      margin: 0 -5px;
    }
  }

  p.invitation-message {
    font-size: 1.4rem;
    margin-bottom: 50px;
    @include breakpoint($medium-up) { font-size: 2.1rem; }

    strong {
      font-weight: 300;
      background-color: rgba(black, .1);
      display: inline-block;
      padding: 0 10px;
      margin: 0 -5px;
    }
  }

  .question {
    // position: relative;
    // bottom: -80px;

    h3 { font-size: 1.5rem; }
    p { font-size: 1.8rem; }
  }
}



