.page-header,
.page-section {
  padding-top: 80px;
  padding-bottom: 80px;
  
  p > a {
    color: currentColor;
    background-color: rgba(black, .05);
    &:hover {
      background-color: rgba(black, .1);
    }
  }

  h2 {
    text-align: left;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    color: rgba(black, .7);

    &:not(:first-child) { margin: 60px 0 0 0; }
  }

  h3 {
    text-align: left;
    font-size: 1.8rem;
    font-family: $body-font;
    font-weight: 300;
    margin: 0 0 20px 0;
  }

  h4 {
    text-align: left;
    font-size: 1.4rem;
    font-family: $body-font;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 40px 0 20px 0;
    text-transform: uppercase;
  }

  &--black,
  &--red,
  &--purple,
  &--orange,
  &--blue {
    color: rgba(white, .7);  
  }


  &--black { background-color: $dark-gray; }
  &--red { background-color: $red; }
  &--purple { background-color: $purple; }
  &--orange { background-color: $orange; }
  &--blue { background-color: $blue; }
  &--light { background-color: rgba(black, .03); }
}

.panel-container {
  @include breakpoint($medium-up) { display: flex; }
    
  .panel {
    flex: 1;
    @include breakpoint($small-only) { padding-top: 30px; }
    @include breakpoint($medium-up) { padding-right: 60px; }
  }
}

.big-title {
  font-size: 6rem;
  text-align: left;
  color: rgba(black, .5);
  margin-bottom: 0;
  font-weight: 200;
}

.link-list {
  padding: 0;

  h3 {
    font-weight: 300;
  }

  a {
    text-transform: none;
    text-align: left;
    margin-bottom: 10px;
    display: inline-block;

    &:hover {
      color: white;
    }
  }
}

.faq {
  padding: 0;

  &__item + &__item { margin-top: 80px; }

  > h3 {
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 80px;
  }

  &__item ul { padding: 0 0 0 25px; }
  &__item li { 
    list-style: circle; 
    margin-bottom: 5px;
  }
}

.terms {

}

.resources-page {
  .panel-container {
    margin-top: 40px;
  }

  .button {
    display: inline-block;
    width: auto;
    color: rgba(white, .6);

    &:hover {
      background-color: rgba(white, .1);
      color: white;
    }
  }
}

