.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.u-transition { transition: all .4s ease; }

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

.small-only { @include breakpoint($medium-up) { display: none !important; } }
.medium-up { @include breakpoint($small-only) { display: none !important; } }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99;

  &.js-active { display: block; }
}

.by-line {
  text-align: right;
  color: rgba(black, .4);
  background-color: darken(#bdcbd2, 4);
  display: block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 300;

  &:hover {
    font-weight: 400;
  }
}