body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

// Typography

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: $body-font;
  font-weight: 300;
  letter-spacing: .5px;
  font-size: 20px;
  line-height: 1.5;
  color: $text-color;
}

h1, h2, h3 {
  font-family: $display-font;
  font-weight: 100;
  text-align: center;
}

p {
  margin-top: 0;
}

p + p {
  margin-top: 1rem;
}

li {
  list-style: none;
}

li + li {

}

ul {


}

.wrapper {
  @include breakpoint($small-only) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include breakpoint($medium-up) {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

}

.button {
  border: 1px solid currentColor;
  padding: 15px 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  
  @include breakpoint($small-only) {
    display: block;
    padding: 15px 20px;
    width: 100%;
  }

  &:hover {
    background-color: $orange;
    color: white;
  }

  &--negative { color: white; }

  &--clean {
    border: 0;
    padding-left: 0;
    i { 
      vertical-align: -4px; 
      margin-right: 10px;
    }

    &:hover {
      color: $orange;
    }
  }
}

#back-button {
  text-align: left;

  &:hover {
    background-color: transparent;
    color: white;
  }

  &.button--positive {
    &:hover {
      color: $orange;
    }
  }
}


#particles-container {
    div {
        position: absolute;
    }
    canvas {
        overflow: hidden;
    }
}